/* Import font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* import tailwind css */
@import "tailwindcss";

/* Define CSS Variables */
:root {
  --primary-color: #3498db; 
  --secondary-color: #2ecc71; 
  --font-primary: 'Poppins', sans-serif;

   /* Base font size */
   --font-base: 16px;

   /* Headings */
   --font-h1: 2.5rem; /* 40px */
   --font-h2: 2rem;   /* 32px */
   --font-h3: 1.75rem; /* 28px */
   --font-h4: 1.5rem;  /* 24px */
   --font-h5: 1.25rem; /* 20px */
   --font-h6: 1rem;    /* 16px */
 
   /* Body text */
   --font-body: 1rem;  /* 16px */
   --font-small: 0.875rem; /* 14px */
}

/* Apply Variables */
body {
  font-family: var(--font-primary);
  color: black;
  background-color: white;
  font-size: var(--font-body);
}



/* custom font  */
@theme {

  /* font family */
  --font-poppins :var(--font-primary);
  
  /* break points */
  --breakpoint-mobile: 20rem;

}


/* Responsive Typography */
@media (max-width: 1024px) {  /* Tablets */
  :root {
    --font-h1: 2.2rem; 
    --font-h2: 1.8rem;
    --font-h3: 1.6rem;
    --font-body: 0.95rem;
  }
}

@media (max-width: 768px) {  /* Mobile */
  :root {
    --font-h1: 2rem;
    --font-h2: 1.6rem;
    --font-h3: 1.4rem;
    --font-body: 0.9rem;
  }
}


#root {
  isolation: isolate;
}


h1 {
  font-size: var(--font-h1);
}

h2 {
  font-size: var(--font-h2);
}

h3 {
  font-size: var(--font-h3);
}

